body {
  margin:0px;
  background-color:rgba(245, 245, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:448px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:104px;
  background:inherit;
  background-color:rgba(200, 237, 223, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:87px;
  width:375px;
  height:104px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:355px;
  word-wrap:break-word;
}
