<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zq.mapper.OrdersMapper">
    <resultMap id="ordersWithUser" type="orders" autoMapping="true">
        <association property="user" javaType="user" autoMapping="true">
            <id property="id" column="uid"/>
        </association>
    </resultMap>
    <select id="findAll" resultMap="ordersWithUser">
        select o.*,
               u.username,
               u.age,
               u.gender,
               u.birthday,
               u.debut_works
        from orders o
                 left join user u on u.id = o.uid;
    </select>

    <resultMap id="ordersWithUser2" type="orders" autoMapping="true">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <association property="user" javaType="user"
                     select="com.zq.mapper.UserMapper.findById"
                     column="uid"/>
    </resultMap>
    <select id="findAll2" resultMap="ordersWithUser2">
        select *
        from orders
    </select>

    <select id="findByUid" parameterType="int" resultType="orders">
        select * from orders where uid = #{uid};
    </select>
</mapper>