<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zq.mapper.SysRoleMapper">
    <resultMap id="sysRoleWithUser" type="sysRole" autoMapping="true">
        <id property="id" column="role_id"/>
        <collection property="userList" ofType="user" autoMapping="true">
            <id property="id" column="user_id"/>
        </collection>

    </resultMap>
    <select id="findAll" resultMap="sysRoleWithUser">
        SELECT sr.*,
               sur.user_id,
               sur.role_id,
               u.*
        FROM sys_role sr
                 LEFT JOIN sys_user_role sur ON sr.`id` = sur.`role_id`
                 LEFT JOIN USER u ON sur.`user_id` = u.`id`
    </select>

    <resultMap id="sysRoleWithUser2" type="sysRole" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="userList"
                    ofType="user"
                    select="com.zq.mapper.UserMapper.findByRoleId"
                    column="id"/>
    </resultMap>
    <select id="findAll2" resultMap="sysRoleWithUser2">
        select *
        from sys_role;
    </select>
</mapper>