<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zq.mapper.UserMapper">
    <cache/>
    <resultMap id="userWithOrdersList" type="user" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="ordersList" ofType="orders" autoMapping="true">
            <id property="id" column="oid"/>
        </collection>
    </resultMap>
    <select id="findAll" resultMap="userWithOrdersList">
        SELECT u.*,
               o.id oid,
               o.ordertime,
               o.total,
               o.uid
        FROM USER u
                 LEFT JOIN ORDERS o ON o.`uid` = u.id;
    </select>

    <select id="findById" parameterType="int" resultType="user">
        select *
        from user
        where id = #{id};
    </select>

    <resultMap id="userWithOrdersList2" type="user" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="ordersList"
                    ofType="orders"
                    select="com.zq.mapper.OrdersMapper.findByUid"
                    column="id"
                    fetchType="lazy"
        />
    </resultMap>
    <select id="findAll2" parameterType="int" resultMap="userWithOrdersList2">
        select *
        from user;
    </select>

    <select id="findByRoleId" parameterType="int" resultType="user">
        select u.*
        from user u
                 inner join sys_user_role sur
                            on sur.role_id = #{roleId} and sur.user_id = u.id;
    </select>

    <delete id="deleteById" parameterType="int">
        delete
        from user
        where id = #{id};
    </delete>
</mapper>